@import './src/assets/styles/variables';
@import './src/assets/styles/mixins';

.cardWrap {
  background-color: $color-white;
  border-radius: $border-radius-m;
  position: relative;
  margin: 50px 25px 50px 25px;
  @include mobile {
    width: 680px;
  }
  @include tablet {
    width: 800px;
  }
  @include tablet-big {
    background-color: $color-white;
    border-radius: $border-radius-m;
    position: relative;
    width: 950px;
  }
  @include desktop-min {
    width: 1000px;
  }
  @include desktop-sm {
    width: 1080px;
  }
  @include desktop {
    width: 1080px;
  }
}

.card {
  display: grid;
  background-color: $color-white;
  border-radius: $border-radius-m;
  padding: 25px 20px;
  gap: 10px;
  align-items: center;
  @include min-phone {
    grid-template-columns: 100px minmax(100px, 1fr)  120px;
  }
  @include tablet {
    grid-template-columns: 140px minmax(250px, 1fr)  120px;

    height: 300px;
  }
  @include tablet-big {
    height: 200px;
    grid-template-columns: 140px minmax(500px, 1fr)  190px;
    gap: 25px;
  }
}

.lineTop {
  border-top: 2px dotted $color-lightgray;
  width: calc(100% - 212px);
  border-top-right-radius: 0px;
}

.textCenter {
  @include mobile {
    position: relative;
    top: 40px;
  }
  @include tablet {
    top: 40px;
    right: 30px;
  }
  @include tablet-mid {
    top: 40px;
    right: 30px;
  }
  @include tablet-big {
    position: static;
    text-align: center;
  }
}

.vertical {
  position: relative;
  top: -150px;
  @include mobile  {
    right: -220px;
    top: -90px;
  }
  @include tablet  {
    right: -190px;
    top: -150px;
  }
  @include tablet-big {
    top: -100px;
    right: -55px;
  }
  @include desktop-min {
    right: -100px;
  }
  @include desktop-sm {
    right: -180px;
  }
}

.line {
  display: none;
  @include mobile {
    display: block;
    border-left: 2px solid $color-lightgray;
    height: 200px;
    position: absolute;
    right: 150px;
  }
  @include tablet {
    right: 200px;
  }
}

.price {
  font-weight: 700;
  font-size: 3.2rem;
  line-height: 38px;
  color: $color-root;
}
































