// font


// color
$color-primary: #5C87DB;
$color-ghost: #B7BAC1;
$color-lightblue: #8BA5D8;
$color-gray: #5C5C5C;
$color-lightgray: #B7BAC1;
$color-primary-hover: #3E67B7;
$color-root: #232323;
$color-white: #FFF;
$color-background: #F5F6F8;
$color-tab: #DDE3EE;

// timeouts
$default-transition-ms: 0.2s;

// $animation-time
$animation-time: 0.2s;

// border-radius
$border-radius-s: 10px;
$border-radius-m: 15px;

// window min-width
$min-phone: 480;
$mobile: 576;
$tablet: 768;
$tablet-mid: 900;
$tablet-big: 992;
$desktop-min: 1080;
$desktop-sm: 1280;
$desktop: 1440;
$desktop-md: 1600;
$desktop-big: 1920;

// letter-spacing
$letter-spacing: 0.05em;




















